@font-face{
    font-family:'raleway-regular';
    src:url('../fonts/fonts/raleway/raleway-regular.ttf');
}

@font-face{
    font-family:'raleway-medium';
    src:url('../fonts/fonts/raleway/raleway-medium.ttf');
}

@font-face{
    font-family:'raleway-bold';
    src:url('../fonts/fonts/raleway/raleway-bold.ttf');
}
@font-face{
    font-family:'raleway-extra-bold';
    src:url('../fonts/fonts/raleway/raleway-extra-bold.ttf');
}

@font-face{
    font-family:'raleway-semibold';
    src:url('../fonts/fonts/raleway/raleway-semibold.ttf');
}
@font-face{
    font-family:'montserrat-light';
    src:url('../fonts/fonts/montserrat/montserrat-light.ttf');
}

@font-face{
    font-family:'montserrat-regular';
    src:url('../font/fonts/montserrat/montserrat-regular.ttf');
}

@font-face{
    font-family:'roboto-light';
    src:url('../fonts/fonts/Roboto/roboto-light.ttf');
}

@font-face{
    font-family:'montserrat-extralight';
    src:url('../fonts/fonts/montserrat-extralight.ttf');
}


.container{
     margin: 0;
    padding: 0;
}

body{
   max-width: 1920px;
     padding: 0;
        margin: 0;
}

.header{
    max-width: 1920px;
    min-height: 1024px;
    background-image: url(../img/photo_11982.jpg);
    background-size: cover;
    position: relative;

}

.header-top{
    display: flex;
    justify-content:space-around;
    padding: 40px 376px 0 376px;
    position: relative;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  height: 56px;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

.logo-svg {
  fill: currentColor;
}

.logo-txt{
font-family: raleway-regular;
font-size: 34px;
text-align: right;
line-height: 1.2;
font-weight: 400;
letter-spacing: -0.04em;
color: #ffffff;
}

.logo:active .logo-txt {
    color:orange;
}

.logo:active svg{
    fill: orange;
}

.logo:hover span{
  color: #998675;
}

.logo:hover svg{
    color: #998675;
}
.menu-nav{
    list-style-type: none;
    display: flex;
    height: 56px;
    margin: 0 0 0 160px;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
}

.menu-nav-item{
display: flex;
align-items: center;
margin-left: 20px;
}

.menu-nav-link {
display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
    
font-family: montserrat-light;
font-size: 14px;
line-height: 1.2;
color: #ffffff;
}

.menu-nav-item:first-child{
    margin: 0;
}

.menu-nav-item:hover{
    color: #c7b299;
}

label,
#menu-nav {
  position: absolute;
  margin: left;
  display: none;
}


input[type="search"]{
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 15px 0 0 590px;
  outline: none;
  background-color:transparent;
  background-image: url(/img/icon_search_12272.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  color: #fff;
  }
    
input[type="search"]:focus{
  position: absolute;
  width: 200px;
  padding: 0 25px 0 5px;
  transition: width 1s ease-out; 
  background-position: right;
  border: 1px solid gray;
  margin: 50px 0 0 430px;;
}

input[type="search"]:hover{
    background-color: #c7b299;
}

input[type="search"]:active {
    background-color: orange;
}

form {
 position: absolute;
}

.basket{
    background: url(../img/icon_cart_12273.png) 50% 50% no-repeat;
    border: none;
    background-size: contain;
    width: 18px;
    height: 24px;
    margin: 15px 0 0 30px;
}

.basket:hover{
    background-color: #c7b299;
}

.basket:active {
    background-color:orange;
}

.header-bottom{
    position: relative;
    width: 590px;
    position: absolute;
}

.slider-arrow-left{
display: block;
  width: 40px;
  height: 73px;
  position: absolute;
  margin: 379px 0 475px 150px;
}

.slider-arrow-left:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-bottom: 2px solid #d3c1ad;
  border-left: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

.slider-arrow-left:hover:after {
  border-bottom:2px solid orange;
  border-left: 2px solid orange;
}

.slider-arrow-right{
  display: block;
  width: 40px;
  height: 73px;
  position: absolute;
  margin: 379px 0 475px 1730px;
}

.slider-arrow-right:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

.slider-arrow-right:hover:after {
  border-top: 2px solid orange;
  border-right: 2px solid orange;
}

 .slider-arrow-left:active:after {
     border-bottom:2px solid gray;
      border-left: 2px solid gray;
}

.slider-arrow-right:active:after { 
     border-top:2px solid gray;
      border-right: 2px solid gray;
}


.circle{
    width: 590px;
    text-align: center;
    margin: 285px 666px 0 665px;
}

.circle-haven-title{
    display: block;
font-family:raleway-medium;
font-size: 36px;
line-height: 1.2;
color: #ffffff;
margin: 0 0 14px 0;
}

.circle-midle-title{
    display: block;
    font-family:raleway-extra-bold;
    font-size: 52px;
line-height: 1.2;
font-weight: 800;
color: #ffffff;
 margin: 0 0 19px 0;
}

.circle-text{
font-family: montserrat-light;
font-size: 16px;
line-height: 24px;
font-weight: 300;
color: #ffffff;
margin: 0 0 52px 0;
}

.circle-button{
display: flex;
align-items: center;
justify-content: center;    
width: 169px;
height: 52px;
font-family: raleway-extra-bold;
font-size: 14px;
line-height: 23px;
font-weight: 800;
text-transform: uppercase;
color: #ffffff;
border: 1px solid #998675;
background-color: #998675;
border-radius: 3px;
margin: 0 auto;
}

.circle-button:hover{
    background-color:#dfd4c8;
    color: #998675;
}

.circle-button:active{
    background-color:#fff;
}

.pagination {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  order: 1;
}

.pagination-item {
  display: block;
  width: 8px;
  height: 8px;
  opacity: 0.5;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid transparent;
}

.pagination-item:hover {
  background-color: transparent;
  border: 2px solid #998675;
  transform: scale(1.2);
}

.realization-top{
    display: flex;
    justify-content: center;
    flex: wrap;
    padding: 80px 0 80px 0;
}


.realization-item{
    width: 266px;
    text-align: center;
    margin: 0 0 0 33px;
}

.realization-item:first-child{
    margin: 0;
}

.realization-item-svg{
 fill:#555555;
 margin: 0 0 30px 0;
}

.realization-item-svg:hover{
    fill: #c7b299;
}

.realization-item-title{
display: block;
font-family: raleway-semibold;
font-size: 22px;
line-height: 1.2;
font-weight: 600;
color: #555555;
margin: 0 0 19px 0;
}

.realization-item-text{
width: 270px;
min-height: 59px;
font-family: montserrat-light;
font-size: 14px;
line-height: 24px;
font-weight: 300;
color: #8c8c8c;
margin: 0 0 30px 0;
}


.realization-item:after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
}

.realization-item:hover svg {
  fill: #deb887;
}


.realization-item:hover span {
  color: #deb887;  
}

.realization-item:hover:after {
  background-color: #deb887;
}

.realization-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 700px;
    position: relative;
    background-color: #fbfaf8;
    padding: 83px 0 0 0;

}

.realization-bottom-title{
display: block;
font-family: raleway-semibold;
font-size: 30px;
font-weight: 600;
line-height: 1.2;
text-align: center;
color: #555555;
margin: 0 0 24px 0;
}

.realization-bottom-text{
    width: 757px;
    min-height: 53px;
font-family: montserrat-light;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: center;
color: #8c8c8c;
margin: 0 0 46px 0;
}


.realization-bottom-img-left{
    width: 30%;
    height: 400px;
   
}

.realization-bottom-img-left:hover{
    z-index: 3;
    height: 482px;
    margin: 0 0 0 346px;
    transition: 0.5s;
    position: absolute;
    
}

.realization-bottom-img-right{
    width: 30%;
    height: 400px;
    margin: left;
   
}

.realization-bottom-img-right:hover{
    z-index: 3;
    height: 482px;
    margin: 0 0 0 806px;
    transition: 0.5s;
   
}

.realization-bottom-img-center{
    display: block;
    width: 30%;
    height: 482px; 
}

.realization-img{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 104px 0 0 0;
}

aside{
    padding: 0 374px 0 376px;                            
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    background: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    position: relative;
}

.aside-left{
    margin: 48px 0 0 0;
}

.aside-button{
    margin: 50px 0 0 0;
}

.first-title-word{
    text-decoration: none;
    color: #c7b299;
}

.aside-title{
    display: block;
    font-family: raleway-regular;
    font-size: 28px;
line-height: 1.2;
font-weight: 400;
color: #ffffff;
margin: 0 0 8px 0;
}

.aside-text{
    font-family: montserrat-light;
    font-size: 18px;
line-height: 1.2;
font-weight: 300;
color: #615855;
margin: 0;
}

.our-latest-projects-title {
display: block;
font-family: raleway-semibold;
font-size: 30px;
line-height: 1.2;
font-weight: 600;
color: #555;
text-align: center;
margin: 81px 0 24px 0;
}

.our-latest-projects-text {
display: block;
width: 757px;
text-align: center;
font-family: montserrat-light;
font-size: 16px;
line-height: 28px;
color: #8c8c8c;
margin: 0 0 40px 0;
}

.our-latest-projects-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 40px 0;
    
}

.our-latest-projects-button {
display: flex;
justify-content: center;    
width: 120px;
height: 32px;
font-family: montserrat-light;
font-size: 14px;
line-height: 21px;
color: #8c8c8c;
border: 1px solid #8c8c8c;
background-color: #ffffff;
border-radius: 3px;
margin: 0 0 0 10px;
}



.our-latest-projects-button:first-child{
    width: 70px;
    margin: 0;
}

.our-latest-projects-button:last-child{
    width: 135px;
}

.our-latest-projects-button:hover{
    background-color: #998675;
    color: #ffffff;
}

.our-latest-projects-button:active{
    color: black;
    background-color: #8c8c8c;
}

.container-article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 0 40px 0;
    
}

.article-preview-our {
display: block;
width: 370px;
height: 337px;
margin: 0 30px 30px 0;
position: relative;
}

.article-preview-our:nth-child(3n+3){
    margin: 0 0 30px 0;
}

.article-preview-photo {
width: 370px;
height: 237px;
display: block;
width: 100%;
}

.article-preview_wrapper-title {
  min-height: 100px;
  padding: 30px 0 0 30px;
  box-sizing: border-box;
  background-color: #fbfaf8;
  text-align: left;
  position: relative;
}

.article-preview_wrapper-title:before {
  content: "";
  border: 15px solid transparent;	
  border-bottom: 15px solid #fbfaf8 ;
  position: absolute;
  top: -30px;
  left: 10px;
}

.article-preview-title {
margin: 0 0 5px 0;
font-family:raleway-medium;
font-size: 20px;
line-height: 1.2;
font-weight: 500;
color: #c7b299;
}

.article-preview-txt {
font-family: montserrat-light;
font-size: 14px;
line-height: 20px;
font-weight: 300;
color: #d1d1d1;
margin: 0;
}

.article-preview-our .lock,
.article-preview-our .search {
  display: none;
  width: 26px;
  height: 26px;
  border: none;
  position: absolute;
}

.article-preview-our .lock {
  top: 35%;
  left: 40%;
}

.article-preview-our .search {
  top: 35%;
  right: 40%;
}

.article-preview-our:hover .lock {
  display: block;
 background-image: url(../img/link_10955.png);
}

.article-preview-our:hover .search {
  display: block;
 background-image: url(../img/icon_search_12272.png);
 background-size: cover;

}

.article-preview-our:hover .lock:hover {
   background-color: #c7b299;
}

.article-preview-our:hover .search:hover {
   background-color: #c7b299;
}


.article-preview-our:hover .article-preview-photo {
  filter: brightness(30%);
}

.article-preview-our:hover .article-preview_wrapper-title {
  background-color: #362f2d;
}

.article-preview-our:hover .article-preview_wrapper-title:before {
  border-bottom: 15px solid #362f2d;	
 
}

.button-a {
    text-decoration: none;
}

.our-latest-projects {
    display: flex;
    padding: 0 0 80px 0;
    flex-direction: column;
   align-items: center;
}

.waxom-video {
    display: flex;
    justify-content: center;
    height: 705px;
    position: relative;
}

.video-txt-btn{
  display: flex;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.video-play-btn-icon {
  margin: auto;
  fill: #fff;
}

.video-txt-btn:hover .video-play-btn-icon {
  fill: coral;
}

.video-txt-btn:active .video-play-btn-icon {
  fill: bisque;
}
.video-txt-title {
display: block;
font-family:raleway-medium;
font-size: 30px;
line-height: 1.2;
font-weight: 500;
color: #ffffff;
margin: 44px 0 29px 0;
}

.video-txt-wrp {
    position: absolute;
    width: 570px; 
    text-align: center;
    margin: 210px 0 0 0;
}

.video-txt-p {
    font-family: montserrat-light;
    font-size: 16px;
line-height: 28px;
font-weight: 300;
color: #ffffff;
margin: 0 0 40px 0;
}

.video-txt-time {
    font-family: montserrat-light;
    font-size: 14px;
line-height: 24px;
font-weight: 400;
color: #c7b299;
margin: 0;
}

.excellent {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fbfaf8;
}

.excellent-img {
    margin: 79px 0 0 0;
}

.excellent-right {
    width: 685px;
    margin: 195px 0 0 30px;
}

.excellent-title {
    display: block;
    font-family: raleway-semibold;
    font-size: 30px;
line-height: 1.2;
font-weight: 600;
color: #555555;
margin: 0 0 40px 0;
}

.excellent-text {
     font-family: montserrat-light;
    font-size: 16px;
line-height: 28px;
font-weight: 300;
color: #8c8c8c;
margin: 0 0 45px 0;
}

.excellent-list-item {
    font-family: montserrat-light;
    font-size: 16px;
line-height: 32px;
font-weight: 300;
color: #8c8c8c;
    padding-left: 22px;
    margin: 0;
}

.excellent-list {
 list-style-image: url(../img/01_10972.png);
 margin: 0 0 0 40px;
}

.static {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.static-item-title {
    display: block;
    font-family: montserrat-extralight;
    font-size: 48px;
line-height: 36px;
font-weight: 200;
color: #ffffff;
margin: 0 0 21px 0;
}

.static-item-text {
    
    font-family: montserrat-light;
    font-size: 14px;
line-height: 20px;
text-transform: uppercase;
color: #c7b299;
margin: 0 0 30px 0;
}

.static-item {
    display: block;
    text-align: center;
    margin:  0 105px 0 0;
}

.static-item:last-child{
    margin: 0;
}

.static-item:after{
  content: "";
  display: block;
width: 30px;
height: 2px;
background-color: #ffffff;
  margin: 0 auto;
}

.static-item:hover:after {
  background-color: #deb887;
}

.static-item-svg {
    fill:#c7b299;
    margin: 0 0 30px 0;
}

.static-item:hover svg {
    fill: #deb887;
}

.static-item:hover span {
    color: #deb887;
}

.resent {
    padding: 82px 375px 80px 375px;
}

.resent-title {
display: block;
width: 100%;
text-align: center;
font-family: raleway-semibold;
font-size: 30px;
line-height: 1.2;
font-weight: 600;
color: #555555;
margin: 0 0 30px 0;
}

.resent-text {
    display: block;
    width: 770px;
    text-align: center;
    font-family: montserrat-light;
    font-size: 16px;
line-height: 28px;
font-weight: 300;
color: #8c8c8c;
margin: 0 auto;
}

.recent-item {
    position: relative;
    width: 370px;
    border: 1px solid #f8f8f8;
}

.resent-item-title {
    display: block;
    font-family:raleway-medium;
    font-size: 20px;
line-height: 1.2;
font-weight: 500;
color: #555555;
margin: 0 0 19px 0;
}

.resent-item-text {
font-family: montserrat-light;
font-size: 14px;
line-height: 22px;
font-weight: 300;
color: #8c8c8c;
margin: 0 0 27px 0;
}

.resent-item-link {
    display: block;
    font-family: montserrat-light;
    font-size: 14px;
line-height: 20px;
font-weight: 300;
color: #c7b299;
text-decoration: none;
}

.recent-container {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 40px 0;
}

.resent-item-img {
    width: 370px;
    height: 220px;
    background-color: bisque;
    margin: 0;
}



.resent-item-article {
    text-align: left;
    padding: 30px 45px 33px 29px;
}

.date-top {
display: flex;
justify-content: center;
align-items: center;
width: 50px;
height: 35px;

font-family: montserrat-light;
font-size: 24px;
line-height: 20px;
font-weight: 300;
color: #ffffff;
background-color: #363636;
border-radius: 3.0px 3.0px 0.0px 0.0px;
}

.date-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
height: 25px;

font-family: roboto-light;
font-size: 12px;
line-height: 20px;
font-weight: 400;
color: #ffffff;
background-color: #252525;
border-radius: 0.0px 0.0px 3.0px 3.0px;
}

.resent-item-date {
    position: absolute;
    margin: 20px;
    z-index: 2;
}

.resent-item-link:after{
content: "";
position: absolute;
border:5px solid transparent;
border-left: 8px solid #c7b299;
margin: 5px; 
}

.recent-item:hover {
    background-color: #362f2d;
}

.recent-item:hover .resent-item-title{
    color: #c7b299;
}

.recent-item:hover img {
    filter:  brightness(30%);
}

.recent-item:hover .date-top{
    background-color: #c7b299;
}

.recent-item:hover .date-bottom{
    background-color: #a48d72;
}

.recent-button-left{
    display: flex;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 2px solid #d1d1d1;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
    margin: 0 8px 0 0;
}
.recent-button-left:after {
  content: "";
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #d1d1d1;
  border-left: 2px solid #d1d1d1;
  transform: rotate(45deg);
  position: absolute;
}

.recent-button-right{
    display: flex;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 2px solid #d1d1d1;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
}


.recent-button-right:after{
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #d1d1d1;
  border-right: 2px solid #d1d1d1;
  transform: rotate(45deg);
  position: absolute;
}

.recent-button-left:hover{
    border: 2px solid #c7b299;
}

.recent-button-left:hover:after{
    border-bottom: 2px solid #c7b299;
    border-left: 2px solid #c7b299;
}

.recent-button-right:hover{
    border: 2px solid #c7b299;
}

.recent-button-right:hover:after{
    border-top: 2px solid #c7b299;
    border-right: 2px solid #c7b299;
}
.recent-buttons {
    display: flex;
    justify-content: center;
}

.recent-button-left:active{
    background-color: bisque;
}

.recent-button-right:active{
    background-color: bisque;
}

.partners {
    display: flex;
    min-height: 489px;
    align-items: center;
    justify-content: center;
    background-image: url(../img/photo_11592.jpg);
}

.partners-link-1{
    width: 210px;
    height: 127px;
}

.partners-link-2 {
    width: 210px;
    height: 210px;
}

.partners-link-3-img {
    width: 210px;
    height: 130px;
}

.partners-link-4-img {
    width: 210px;
    height: 164px;
}

.partners-link:hover img {
filter: grayscale(1);
}

.partners-link-4 {
    width: 210px;
    height: 164px;
    margin: 0;
}

.partners a{
    margin: 0 0 0 90px;
}

.partners-link:hover img {
    filter: sepia(500%);
}

.footer-top {
    display: flex;
    justify-content: center;
    background-color: #191919;
    padding: 80px 0 80px 0;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    width: 258px;
    text-align: left;
    margin: 0 42px 0 0;
}

.footer-top-left-text {
    font-family: montserrat-light;
     font-size: 14px;
line-height: 24px;
font-weight: 300;
color: #555555;   
    margin: 29px 0 33px 0;
}

.footer-top-left-text:hover {
    color: #c7b299;
}

.footer-top-left-link {
    font-family: montserrat-regular;
    font-size: 14px;
line-height: 20px;
font-weight: 400;
color: #d1d1d1;
    text-decoration: none;
}

.footer-top-left-link:after {
  content: "";
position: absolute;
border: 4px solid transparent;
border-left: 6px solid #d1d1d1;;
margin: 6px; 
}

.footer-top-left-link:hover {
    color:#deb887;
}

.footer-top-left-link:hover:after {
    border: 4px solid transparent;
border-left: 6px solid #deb887;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 262px;
    margin: 0 39px 0 0;
    text-align: left;
}

.posts-item-title {
    display: block;
    font-family: raleway-bold;
    font-size: 24px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
margin: 16px 0 33px 0;
}

time {
    display: block;
    font-family: montserrat-light;
    font-size: 12px;
line-height: 20px;
font-weight: 300;
color: #363636;
margin: 0 0 10px 0;
}

.posts-item:hover time {
    color: #fff;
}

.posts-item-text {
    text-decoration: none;
    font-family: montserrat-light;
    font-size: 14px;
line-height: 20px;
font-weight: 300;
color: #555555;
margin: 0;
}

 .posts-item:hover .posts-item-text {
    color: #c7b299;
}

.posts-item {
    margin: 0 0 19px 0;
}

.posts-item:after {
    content: "";
    display: block;
    width: 270px;
    height: 2px;
    background-color: #252525;;
    margin: 21px 0 0 0;
}

.posts-item:last-child:after {
    visibility:hidden;
}

.twitter {
    width: 264px;
    text-align: left;
    margin: 0 36px 0 0;
}

.twitter-item-title {
    display: block;
    font-family: raleway-bold;
    font-size: 24px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
margin: 16px 0 33px 0;
}


.twitter-item-text {
text-decoration: none;
font-family: montserrat-light;
font-size: 14px;
line-height: 20px;
font-weight: 300;
color: #555555;
}


.blue-word {
color: #00bff3;
}

.twitter-item:hover .twitter-item-text{
    color: #c7b299;
}

.twitter-item:hover time {
    color: #fff;
}
.twitter-item {
    width: 270px;
    margin: 0 0 17px 0;
}

.twitter-item:after{
      content: "";
    display: block;
    width: 270px;
    height: 2px;
    background-color: #252525;;
    margin: 21px 0 0 0;
}

.twitter-item:last-child:after{
    visibility: hidden;
}

.twitter-time {
      display: block;
    font-family: montserrat-light;
    font-size: 12px;
line-height: 20px;
font-weight: 300;
color: #363636;
margin: 11px 0 0 0;
} 

.widget {
    width: 280px;
}

.widget-title {
     display: block;
    font-family: raleway-bold;
    font-size: 24px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
margin: 16px 0 33px 0;
}

.widget-img {
   display: inline-block;
    width: 130px;
    height: 98px;
    margin: 0 10px 10px 0;
}

.widget-img:nth-child(3){
    margin: 0 0 10px 0;
}

.widget-img:nth-child(5){
    margin: 0 0 10px 0;
}


.widget-img:hover {
    filter:brightness(40%)
}

.footer-bottom {
    display: flex;
    justify-content:space-between;
    height: 100%;
    background-color: #111111;
    padding: 45px 374px 52px 376px;
}



.footer-bottom-left-item {
     text-decoration: none;
    font-family: montserrat-light;
    font-size: 13px;
line-height: 20px;
font-weight: 300;
color: #555555;
border-right: 1px solid #252525;
padding: 0 12px 0 12px;
}

.waxom {
    color: #959595;
}

.footer-bottom-left-item:first-child {
    padding-left: 0;
}

.footer-bottom-left-item:last-child {
 border: none;
padding-right: 0;
}

.footer-bottom-left-item:nth-child(3) {
    text-transform: uppercase;
}

.footer-bottom-left-item:hover {
    color: #c7b299;
}

.footer-bottom-left-item:hover .waxom {
    color: #c7b299;
}

.right-words-footer {
    text-decoration: none;
    font-family: montserrat-light;
    font-size: 13px;
line-height: 20px;
font-weight: 300;
color: #555555;
}

.footer-bottom-right-item {
    text-decoration: none;
    font-family: montserrat-light;
    font-size: 13px;
line-height: 20px;
font-weight: 300;
color: #959595;
border-right: 1px solid #252525;
padding-right: 12px;
}

.footer-bottom-right-item:hover {
    color:#c7b299;
}

.right-words-footer:nth-child(3) {
    padding-left: 12px;
}

.footer-bottom-right-item:last-child {
    border: none;
    padding: 0;
}


input[type="checkbox"]:checked ~ .menu-nav {
  visibility: visible;
}

.menu-nav-link:hover{
    color:#deb887;
}

@media (min-width: 320px) and (max-width:480px) 

{   
    html{
        padding: 0;
        margin: 0;
    }
    
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    body{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .header{
        min-height:10%;
    }
    
    
    label {
    display: block;
    margin: 5px 5px 5px 20%;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    background-position: 0 0;
    background-image:  url(/img/216424-64.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
    nav{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
  .menu-nav {
    display: block;
    visibility: hidden;
    margin: 15% 60% 0 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .menu-nav-item {
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
  }
    
    .menu-nav-item:first-child{
        padding: 0;
        margin: 0 auto;
    }

    .header-top{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        
    }
    .circle{
        display: none;
    }
    .basket{
        display: none;
    }
    
    input[type="search"]{
        display: none;
    }
    

    
    .realization-top{
        flex-wrap: wrap;
        padding: 15px 10px;
}
    .realization-item{
        width: 50%;
        height: 40%;
        margin: 0 0 20px 0;
    }
    
    
    .realization-item:first-child{
        margin: 0 0 20px 0;
    }
    
    .realization-item:first-child svg{
        width: 30px;
        height: 30px;
    }
    .realization-item-text{
        width:90%;
        margin: 0 0 10px 0;
        
    }
    
    .realization-item-title{
        font-size: 16px;
    }
    
    .realization-item-svg{
        width: 30px;
        height: 30px;
        margin: 0 0 10px 0;
    }
    .logo svg{
        width:  40px;
        height:  40px;
    }
    .logo-txt{
        font-size: 18px;
    }
  
    .logo{
        justify-content: flex-start;
        width: 60%;
        height: 60%;
        margin: 5px;
        padding: 0 0 0 3%;
    }
    .slider-arrow-left{
        display: none;
    }
    
    .slider-arrow-right{
        display: none;
    }
    .realization-bottom{
        display: none;
    }
    
    aside{
        display: none;
    }
    
    .our-latest-projects{
        width: 100%;

    }
    .our-latest-projects-title{
        font-size: 16px;
        margin: 0 0 15px 0;
    }
    .our-latest-projects-text{
        font-size: 14px;
        width: 90%;
        margin: 0 auto;
    }
    
    .our-latest-projects-menu{
        width: 90%;
       margin: 0 auto;
       padding: 10px 0 10px 0;
    }
    .our-latest-projects-button{
        font-size: 14px;
        margin: 5px;
    }
    
    .our-latest-projects-button:first-child{
        margin: 5px;
    }
    .container-article{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    
    .article-preview-our{
        height: 100%;
        width: 80%;
        margin: 0 0 10px 0;;
        
    }
    
    .article-preview-photo{
        height: 150px;
    }
    
    .waxom-video{
        width: 100%;
        height: auto;
        max-height: 100%;
    }
    
    .video-item{
        
    }
    .video-txt-wrp{
       width: 95%;
      margin: 15% 0 0 0;
    }
    
    .video-txt-title{
        display: none;
    }
    
    .video-txt-p{
        display: none;
    }
    
    .video-txt-time{
        display:none;
    }
    
    .excellent{
        width: 100%;
        justify-content: space-around;

    }
    
    .excellent-right{
        margin: 0;
        width: 90%

    }
    
    .excellent-img{ 
        display: block;
        margin: 0;
        width: 300px;
        max-height: 300px;;
         order: 1;
        
        
    }
    .excellent-list-item{
        margin: 0;
        padding: 0 0 0 11px;
    }
    .excellent-list{
        margin: 10px;
        
    }
    
    .excellent-text{
        font-size: 14px;
        margin: 0;
    }
    .excellent-title{
        margin: 10px 0 10px 0;
        display: block;
        text-align: center;
        font-size: 18px;
    }
    
    .static{
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        
    }
    
    .static-item{
       margin: 15px;
    }
    
    .static-item svg{
        margin: 0;
    }
    
    .static-item-title{
        font-size: 30px;
        margin: 0;
    }
    
    .static-item-text{
        margin: 0 0 10px 0;
    }
    
    .resent{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
    }
    
    .recent-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 10px 0;
    }
    
    .resent-title{
        font-size: 18px;
        margin: 10px 0 10px 0;
    }
    
    .resent-text{
       width: 90%;
       font-size: 14px;
    }
    
    .recent-item{
        width: 70%;
        margin: 0 0 15px 0;
    }
    
    .resent-item-article{
        padding: 10px;
    }
    
    .resent-item-img{
        width: 100%;
        height: 70%;
    }
    
    .resent-item-title{
        text-align: center;
        font-size: 18px;
        margin: 0;
    }
    
    .resent-item-text{
        margin: 5px 0 5px 0;
    }
    
    .resent-item-date{
        margin: 5px;
        width: 15%;
        height: 15%;
    }
    
    .date-top{
        width: 100%;
        height: 65%;
        font-size: 18px;
    }
    
    .date-bottom{
        width: 100%;
        height: 50%;
        font-size: 
    }
    
    .recent-buttons{
        display: none;
    }
    
    .partners{
        display:flex;
        flex-wrap: wrap;
        flex-direction:row;
        width: 100%;
        min-height: 200px;
        margin: 0;
        padding: 0;
    }
    
    .partners a {
        margin: 0;
    }
    .partners-link{
      margin: 0;
    }
    
    .partners-link-1-img{
        display: block;
        width: 110px;
        height: 60px;
        margin: 14px;
    }
    
    .partners-link-2-img{
        display: block;
        width: 100px;
        height: 100px;
        margin: 14px;
    }
    
    .partners-link-3-img{
        display: block;
        width: 120px;
        height: 70px;
        margin: 14px;
    }
    
    .partners-link-4-img{
        display: block;
        width: 110px;
        height: 80px;
        margin: 14px;
    }
    
    .footer-top{
        display: none;
    }
    
    .footer-bottom{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 170px;
        padding: 10px;
    }
    
    .footer-bottom-left{
        margin: 0;
        
    }
    
    .footer-bottom-right{
        margin: 0;
    }
    
    .footer-bottom-left-item{
        padding: 0 6px 0 6px;
    }
    
    .footer-bottom-right-item{
        padding-right: 6px;
    }
}


video {
    max-width: 1920px;
}
